.messenger{
    width: 100%;
    flex: 1 1 77%;
    display: flex;
    border: 3px solid var(--back);
    border-radius: 2rem;
    margin: 0 3rem 3rem 0;
    height: calc(100vh - 15rem);
    min-height: 60rem;
    overflow: hidden;
}

.wrapper{
    position: relative;
    flex: 1 1 70%;
    background-color: var(--back);
}


@media (max-width: 768px){
    .messenger{
        margin: 0;
    }
}

