.items{
    align-items: start;
    justify-content: start;
    width: 20rem;
    padding-top: 1.5rem;
}

.item{
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-left: -1.5rem;
    color: var(--text);
    border-radius: 2rem;
    position: relative;
}

.item:before{
    position: absolute;
    height: 0;
    width: 0.3rem;
    background-color: var(--def);
    content: "";
    left: -1rem;
    transition: 0.5s;
    border-radius: 5rem;
}

.item:hover:before{
    background-color: var(--button);
    height: 75%;
}

.item svg{
    stroke: var(--text);
    fill: var(--text);
    width: 2.5rem;
    height: auto;
}

.item p{
    font-size: 1.5rem;
    font-weight: 700;
}

.active{
    color: var(--def);
    background-color: var(--button);
}

.active svg{
    stroke: var(--def);
    fill: var(--def);
}