.right-sidebar{
    flex: 1 1 54%;
    display: flex;
    width: 100%;
    justify-content: right;
    margin-right: 3rem;
}

.right-sidebar input{
    width: 40rem;
    height: 5rem;
    background-color: var(--back);
    border-radius: 2rem;
    font-size: 2rem;
    color: var(--text);
    padding-left: 15px;
    margin-right: 3rem;
}

@media (max-width: 768px){
    .right-sidebar input{
        display: none;
    }
}