.biography{
    display: flex;
    justify-content: start;
    padding: 2rem;
    flex: 1 1 auto;
    border-bottom: 1px solid var(--def);
    transition: 0.5s;
}

.biography:hover{

}

.avatar{
    padding-right: 1rem;
}