.dialogs{
    flex: 1 1 30%;
    border-right: 3px solid var(--back);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    overflow-y: auto;
    padding-left: 1rem;
}

.dialogs input{
    width: calc(100% - 3.5rem);
    height: 3rem;
    background-color: var(--back);
    border-radius: 1rem;
    font-size: 1.5rem;
    color: var(--text);
    margin-top: 1rem;
    padding-left: 15px;
}

.dialogs > a{
    width: calc(100% - 1.3rem);
}

@media (max-width: 479px){
    .dialogs input{
        min-height: 5rem;
        font-size: 2rem;
    }
}
