.create-post{
    background-color: var(--def);
    display: flex;
    border-radius: 20px;
    margin: 0 3rem;
    align-items: start;
    padding: 3rem;
}

.photo{
    padding: 0 3rem 0 0;
}

@media (max-width: 480px){
    .photo{
        display: none;
    }
}

@media (max-width: 400px){
    .create-post{
        margin: 1rem;;
    }
}



