.profile{
    width: 100%;
    flex: 1 1 77%;
    display: flex;
    background-color: var(--back);
    border-radius: 20px;
    margin: 0 3rem 3rem 0;
    flex-direction: column;
    height: auto;
    min-height: 90%;
}

.profile-preloader {
    stroke: var(--text);
    fill: var(--text);
    width: 7.5rem;
    height: auto;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
}

@media (max-width: 768px){
    .profile{
        flex: 1 1 auto;
        margin: 0 0 4rem 0;
    }
}