.container{
    flex: 1 1 23%;
    display: flex;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding-left: 1rem;
    width: auto;
}

@media (max-width: 768px){
    .container{
        padding-left: 3rem;;
    }
}
