.dialog{
    display: flex;
    flex-direction: row;
    height: 6rem;
    border-radius: 1rem;
    align-items: center;
    transition: .3s;
}

.avatar{
    margin-left: 1rem;
}

.dialog p{
    padding-left: 1.5rem;
    display: flex;
    flex: 1 1 auto;
    font-size: 1.4rem;
    align-items: center;
    color: var(--text);
    font-weight: 600;
}

.dialog:hover{
    background-color: var(--back);
}

.active{
    background-color: var(--button);
}

.active p {
    color: var(--def);
}

.active:hover{
    background-color: var(--hover-button);
}

@media (max-width: 479px){
    .dialog{
        height: 10rem;
    }

    .dialog p{
        font-size: 2.2rem;
    }
}