.top{
    display: flex;
}

.avatar{
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 15rem;
    left: 4.5rem;
    border-radius: 50%;
    border: 3px solid var(--def);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.id{
    position: absolute;
    left: 15.5rem;
}

@media (max-width: 480px){
    .avatar{
        width: 7rem;
        height: 7rem;
        top: 17rem;
    }
    .id{
        left: 13rem;
    }
}

