.content{
    display: flex;
    flex: 1 1 auto;
    padding: 0 3rem;
}

.right{
    display: flex;
    flex: 1 1 50%;
    font-size: 1.2rem;
    line-height: 15px;
    font-weight: 700;
    color: var(--text);
    align-items: center;
    justify-content: end;
    margin-bottom: 5rem;
}

@media (max-width: 768px){
    .right{
        margin-bottom: 7.5rem;
        text-align: end;
    }
}