.center{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

.status, .status *{
    font-weight: 600;
    color: var(--text);
    font-size: 1.6rem;
}

.input-status{
    background-color: var(--back);
    border-radius: 1rem;
    padding: 1rem;
    margin: -1.1rem;
}