.post{
    background-color: var(--def);
    max-width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px;
    margin: 3rem 3rem 0 3rem;
    flex-direction: column;
}

.post:last-child{
    margin: 3rem;
}

.message{
    color: var(--main-text);
    font-weight: 600;
    font-size: 2rem;
    max-width: 100%;
    height: auto;
    padding: 0 3rem 3rem 3rem;

}

.activities{
    display: flex;
    padding: 2rem;
    border-top: 1px solid var(--back);
}

.item{
    padding: 0 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text);
    display: flex;
    gap: 1rem;
    align-items: center;
}

.item:first-child{
    padding-left: 0;
}

.item svg{
    stroke: var(--text);
    fill: var(--text);
    height: 2.5rem;
    width: auto;
}

@media (max-width: 400px){
    .post{
        margin: 1rem;
    }
    .post:last-child{
        margin: 1rem 1rem 8rem 1rem;
    }
    .item{
        padding: 0 1rem;
    }
}