.App{
    background-color: var(--def);
    display: flex;
    justify-content: center;
}

.app-preloader{
    stroke: var(--text);
    fill: var(--text);
    width: 7.5rem;
    height: auto;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
}

